<%= form_for @user, url: { :action => :create, :back_url => params[:back_url] } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
    <%= f.label :email, "Email:" %><br />
    <%= f.text_field :email, class: "normal" %>
</p>
<p>
    <%= f.label :password, "Пароль:" %><br />
    <%= f.password_field :password, class: "normal" %>
</p>
<p>
    <%= f.label :password_confirmation, "Подтверждение пароля:" %><br />
    <%= f.password_field :password_confirmation, class: "normal" %>
<center>
<p>
    <%= f.submit "Регистрация", class: "normal_btn", style:"height:40px;" %>
</p></center>
<% end %>